.container-router{
    padding: 15px 15px 0;
}
#menu{
    background: -moz-linear-gradient(-45deg, #535465 0%, #2B2B36 100%);
    background: -webkit-linear-gradient(-45deg, #535465 0%,#2B2B36 100%);
    background: linear-gradient(135deg, #535465 0%,#2B2B36 100%);
    background: linear-gradient(135deg, #535465 0%,#2B2B36 100%);
}

#menu ul{
    padding: 0px 15px;
}
#menu ul li:not(:first-child){margin-left: 15px;}
#menu ul li{
    display: inline-block;
    line-height: 30px;
    font-size: 14px;
}
#menu ul li a{
    color: rgba(255,255,255,.6);
    transition: all .4s ease;
}
#menu ul li a:hover{color: rgba(255,255,255,1);}

.sair{
    background: #FF004C;
    color: #fff;
    font-size: 11px;
    vertical-align: super;
}

.float-right{float: right;}